# **PYTHON PRACTICE2024**
- BASIC PYTHON
- PART 1
- PARIMAL AUTADE :DATA EXPLORER
 - - I'm a Data Explorer, gathering and analyzing data to uncover insights and trends
 - Refer for Interview

**Practice some top interview questions answer**
-  Refer YOUTUBE VIDEOS
-  Refer Analyticsvidhya.com, interviewbit, javapoint.com

## **I. BASICS PYTHON:**

In [1]:
# first hello program:
print("hello world")
print('hello world')

hello world
hello world

In [2]:
print('PYTHON simple langauge')

PYTHON simple langauge

In [4]:
#multiple lines:
print("""this is my python program
Data journey is awsome """)

this is my python program
Data journey is awsome

In [7]:
#or use \n:multiple line
print("this is my python program\nData journey is awsome")

this is my python program
Data journey is awsome

In [8]:
# Comments in python :
#singleline commet
# multiple line comment

In [12]:
#I describe myself as a Data Explorer because, building on my previous experience,
# I utilize my analytical skills and curiosity to uncover insights and trends within datasets, driving informed decision-making.

In [15]:
"""I describe myself as a Data Explorer because, building on my previous experience,
I utilize my analytical skills and curiosity to uncover insights and trends within datasets, driving informed decision-making.
"""

'I describe myself as a Data Explorer because, building on my previous experience,\nI utilize my analytical skills and curiosity to uncover insights and trends within datasets, driving informed decision-making.\n'

### **3.Variables:**
-  A variable in Python is a named location used to store data in the memory
- my_variable = 10
- _variable = 5

In [16]:
# 1variable = 10  # This is incorrect
#varaiblescannot start with numbers
variable1 = 10  # Correct

In [17]:
#Case-sensitive (myVar and myvar are different variables):
myVar = 5
myvar = 10

In [19]:
# def = 10  # This is incorrect cannot use as keyword as varaibles
my_def = 10  # Correct

## **4.Data Types in Python:**
- In Python, data types specify the type of data a variable holds

In [20]:
age = 25 #int
price = 19.99 #float
name = "Ally" #string
is_student = True#bool

In [22]:
# check datatyepe :type()
print("Data type of age:", type(age))  # Output: <class 'int'>
print("Data type of price:", type(price))  # Output: <class 'float'>
print("Data type of name:", type(name))  # Output: <class 'str'>
print("Data type of is_student:", type(is_student))

Data type of age: <class 'int'>
Data type of price: <class 'float'>
Data type of name: <class 'str'>
Data type of is_student: <class 'bool'>

In [23]:
# adavced datatype:
# list ,tuple,set , dictionary
#frozenset
# practice in next file

### **5.User input:**
- input("")

In [24]:
# input(): taking input from user side
name=input("enter your name")
name

enter your nameally

'ally'

In [25]:
print(name)

ally

In [27]:
# take input from user asnumber such integer,float
n=int(input("enter your roll number"))#integer

enter your roll number2

In [28]:
n

2

In [29]:
n=float(input("enter your weight")) #float
print(n)

enter your weight32.5
32.5

In [32]:
#eval()
#he eval() function in Python evaluates a string as a Python expression
user_input = input("Enter a mathematical expression (e.g., 3 + 4 * 2): ")

# Using eval to evaluate the expression
result = eval(user_input)

# Printing the result
print("The result of the expression is:", result)

Enter a mathematical expression (e.g., 3 + 4 * 2): 4-2+2
The result of the expression is: 4

### **6.Typecasating:**
- Change one type into another type
- Types of subcasting:2
-- 1. Implicit
-- 2. Explicit

In [34]:
n="DATA"
print("typeof n",type(n))

typeof n <class 'str'>

In [36]:
o=12
print("typeof o",type(o))

typeof o <class 'int'>

In [38]:
# Implicit
a=12
b=12.2
print(a+b)
print(type(a+b))#pythonitselfschages its data type

24.2
<class 'float'>

In [39]:
#Explicit:
a="12"
b=2
#c=a+b  directly not possible soconvert string into float or int type
a=int(a)
c=a+b
print(c)

14